.page {
    position: relative;
    top: 6rem;
}

.logo{
  z-index: -10;
  width: 50%;
  position: relative;
  padding-top: 0rem;
  margin: 0 0 25% 25%;
}

.button{
  margin-top: 10rem;
  position: absolute;
  width: 100%;
  margin: 0 0 0 25%;
  color: white!important;
  font-size: 2rem!important;
  background: linear-gradient(202deg, #14ad85, #67b6d8, #5466c0, #9498fa, #e7f27a, #af51b6);
      background-size: 1200% 1200%;

      -webkit-animation: AnimationName 20s ease infinite;
      -moz-animation: AnimationName 20s ease infinite;
      animation: AnimationName 20s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
