html, body {
    height: 100%
}

#__next{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
  }

@font-face {
    font-family: "MoonTime";
    src: url("/fonts/moontime.ttf")
}

@font-face {
    font-family: "FuturaLight";
    src: url("/fonts/futuraLight.ttf")
}

@font-face {
    font-family: "FuturaCondensedLight";
    src: url("/fonts/futuraCondensedLight.otf")
}

@font-face {
    font-family: "FuturaExtraBlack";
    src: url("/fonts/futuraExtraBlack.ttf")
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/futuraBold.ttf")
}

@font-face {
    font-family: "FuturaMediumItalic";
    src: url("/fonts/futuraMediumItalic.ttf")
}

@font-face {
    font-family: "JosefinSansLight";
    src: url("/fonts/JosefinSans-Light.ttf")
}

@font-face {
    font-family: "JosefinSansBold";
    src: url("/fonts/JosefinSans-Bold.ttf")
}