html, body {
    height: 100%
}

#__next{
    min-height: 100%;
    overflow-y: auto;
}

@font-face {
    font-family: "MoonTime";
    src: url("/fonts/moontime.ttf")
}

@font-face {
    font-family: "FuturaLight";
    src: url("/fonts/futuraLight.ttf")
}

@font-face {
    font-family: "FuturaCondensedLight";
    src: url("/fonts/futuraCondensedLight.otf")
}

@font-face {
    font-family: "FuturaExtraBlack";
    src: url("/fonts/futuraExtraBlack.ttf")
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/futuraBold.ttf")
}